@charset "UTF-8";

.header {
	background-color:green;
	height:90px;
	padding-top:1px;
}

.nav {
	background-color:cyan;
	height:50px;
}
.menu {
	display:flex;
	margin:0px;
	padding:15px;
}
.menu li {
	list-style:none;
	margin-right:20px;
}
li a {
	text-decoration:none;
	color:blue;
}
li a:hover {
	font-weight:bolder;
	color:red;
}

.align-center {
	text-align:center;
}

.align-right {
	text-align:right;
}

.width-100 {
	width:100px;
}

.width-120 {
	width:120px;
}

.footer {
	background-color:darkgray;
	color:white;
	text-align:center;
}